pkgbase = dettivo-engines-cuda
	pkgdesc = CUDA diarization engine drop-in for Dettivo
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/gmickel/dettivo-linux
	arch = x86_64
	license = GPL-3.0-or-later
	license = Apache-2.0
	depends = dettivo
	depends = glibc
	depends = gcc-libs
	depends = cuda>=13
	depends = cuda<14
	depends = cudnn>=9
	depends = cudnn<10
	depends = nvidia-utils
	options = !lto
	source = https://github.com/gmickel/dettivo-linux/releases/download/v0.1.0/dettivo-engines-cuda-0.1.0-linux-x86_64.tar.zst
	source = dettivo-engines-cuda-0.1.0-linux-x86_64.SHA256SUMS::https://github.com/gmickel/dettivo-linux/releases/download/v0.1.0/SHA256SUMS-cuda
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = dettivo-engines-cuda
